html {
  height: 100vh;
}

.mt-auto {
  position: fixed;
  margin-top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.form-group {
  padding: 1vw;
  padding-left: 1vw;
  background: rgb(182, 227, 255);
  box-sizing: border-box;
}

.col-3 {
  background: rgb(212, 212, 212);
}

.flex-container-content {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-container-item {
  color: black;
  text: bold;
  margin-left: 3vw;

}
